body {
  background-color: greenyellow;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: darkgreen;
}

h2 {
  color: green;
}

footer {
  padding: 50px;
  background-color: green;
  color: white;
  font-size: large;
}
